*{
  padding: 0;margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  margin-bottom: 0;
}
::selection{
  background: rgb(32,47,55);
  color: white;
}


header{
  #header-top{
    .callout{
      .left-call{
        .social-call{
          a{
            padding: 0 5px;
            margin: 0 5px;
            text-decoration: none;
            color: #00BDAA;
            &:first-child{
              margin-left: 0;
              padding-left: 0;
            }
          }
        }
      }
      .right-call{
        a{
          text-decoration: none;
          color: gray;
          font-size: 14px;
          text-transform: capitalize;
        }
      }
    }
  }
  #logo-section{
    padding: 30px 0;
    .logo{
      .navbar-brand{
        font-size: 35px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        margin-bottom: 0;
        p{
          font-size: 14px;
          color: #B2B2B2;
          padding: 0;
          margin-top: -10px;
        }
      }
    }
    .top-contact{
      .mail, .call, .work-hour{
        i{
          font-size: 25px;
          color: #00BDAA;
        }
        p{
          span{
            font-size: 14px;
            color: #B2B2B2;
          }
        }
      }
    }
  }
}
.navbar{
  padding: 0;
  background: #00BCA9;
  .nav-item{
    .nav-link{
      padding: 20px 15px;
      font-size: 14px;
      color: white;
      transition: .3s;
    }
  }
  .active{
    background: #000000;
  }
  .search{
    input[type=text]{
      padding: 10px 20px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border: none;
      width: 150px;
    }
    button{
      padding: 10px 20px;
      border: none;
      background: white;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
    input,button{
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
    input::placeholder{
      font-size: 13px;
    }
  }
}

#carousel-banner{
  .bg-image{
    position: relative;
    &::before{
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.479);
      content: '';
    }
    img{
      height: 700px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .inner-container{
    position: relative;
    .inner-text{
      position: absolute;
      top: 40%;
      left: 50%;
      width: 80%;
      transform: translate(-50%,-50%);
      text-align: center;
      color: white;
      p{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.8px;
        margin-bottom: 15px;
      }
      h2{
        text-transform: capitalize;
        font-size: 55px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.9px;
        margin-bottom: 50px;
      }
      .btn{
        padding: 18px 35px;
        background: #00BDAA;
        color: white;
        font-size: 16px;
        text-transform: capitalize;
        border-radius: 35px;
        transition: .4s;
        border: 2px solid #00BDAA;
        &:hover{
          background: transparent;
          color: #00BDAA;
        }
      }
    }
    
  }
  .owl-theme .owl-dots{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    .owl-dot{
      span{
        background: white;
      }
      &:focus{
        outline: none;
      }
      
    }
    .active span{
      background: #00BDAA;
    }
  }
}


#request-form{
  .whole-wrapper{
    position: relative;
    margin-top: -100px;
    z-index: 300;
    padding: 0;
    background: white;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    .row{
      margin: 0;
      padding: 0;
    }
    .card-deck{
      margin: 0;
      padding: 0;
    }
    .top-form-bg{
      background: #00BDAA;
      .card{
        padding: 50px 15px;
        background: transparent;
        width: 100%;
        border: none;
        border-radius: 0;
        color: white;
        margin-left: 0;
        .top-form{
          h2{
            font-size: 30px;
            font-weight: bold;
            text-transform: capitalize;
            line-height: 45px;
            margin-bottom: 35px;
          }
        }
        input{
          background: transparent;
          border: none;
          border-bottom: 1px solid white;
          border-radius: 0;
          padding: 25px 0;
          margin-bottom: 15px;
          color: white;
          &:focus{
            outline: none;
            box-shadow: none;
          }
          &::placeholder{
            color: white;
          }
        }
        textarea{
          background: transparent;
          border: none;
          border-bottom: 1px solid white;
          border-radius: 0;
          padding: 10px 0;
          margin-bottom: 25px;
          color: white;
          &:focus{
            outline: none;
            box-shadow: none;
          }
          &::placeholder{
            color: white;
          }
          
        }
        select{
          background: transparent;
          padding: 10px 0;
          color: white;
          border: none;
          // padding: 0px 0;
          border-bottom: 1px solid white;
          border-radius: 0;
          margin-bottom: 15px;
          text-transform: capitalize;
          box-sizing: unset;
          overflow-y: auto;
          &:hover{
            cursor: pointer;
          }
          &:focus{
            outline: none;
            box-shadow: none;
          }
          option{
            background: rgb(32,47,55);
            color: #B2B2B2;
            text-transform: capitalize;
            
          }
          
        }
        button{
          padding: 10px 0;
          background: #243F63;
          box-sizing: content-box;
          display: block;
          border: 2px solid #243F63;
          transition: .3s;
          border-radius: 0;
          text-transform: capitalize;
          &:hover{
            background: rgb(45, 84, 134);
          }
        }
      }
      
    }
    .form-right-side{
      .main-card{
        padding: 50px 30px;
        background: transparent;
        width: 100%;
        border: none;
        border-radius: 0;
        h2{
          font-size: 30px;
          font-weight: bold;
          text-transform: capitalize;
          line-height: 45px;
          margin-bottom: 35px;
        }
        .boxes{
          .col-lg-6{
            padding-left: 0;
            padding-right: 20px;
          }
          .card{
            width: 100%;
            background: transparent;
            width: 100%;
            border: none;
            border-radius: 0;
            margin: 0;
            p{
              i{
                font-size: 45px;
                font-weight: normal;
                color: #00BDAA;
              }
              margin-bottom:10px;
              font-size: 15px;
              color: gray;
              line-height: 1.8em;
              letter-spacing: 0.3px;
            }
            h3{
              font-size: 20px;
              font-weight: bold;
              color: #243F63;
              margin-bottom: 15px;
            }
          }
          
        }
        
      }
    }
  }
}

.middle-banner{
  background: url(images/bg_3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .jumbotron-banner{
    padding: 4em 0;
    background: linear-gradient(45deg, #48a7f0c4 0%, #00bdaabe 100%);
    border-radius: 0;
    color: white;
    text-align: center;
    text-transform: capitalize;
    h2{
      margin-bottom: 0;
    }
  }
}



#welcome-section{
  .welcome-img{
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .welcome-info{
    padding: 50px 0 30px 50px;
    .small-head{
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.4px;
      font-weight: bold;
      color: #00BCA9;
      margin-bottom: 15px;
    }
    h2{
      font-size: 34px;
      font-weight: bold;
      text-transform: capitalize;
      line-height: 45px;
    }
    p{
      font-size: 15px;
      color: gray;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
    }
    .welcome-tabs{
      .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
          margin: 5px;
          display: block;
          
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
          
          .nav-link{
            border: none;
            border-radius: 0;
            padding: 10px 28px;
            color: black;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 14px;
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.1);
            &.active{
              background: #00BCA9;
              color: white;
              border: 1px solid #00BCA9;
            }
          }
        }
      }
      .tab-content{
        padding: 20px 15px;
        border: 1px solid rgba(128, 128, 128, 0.26);
        margin-bottom: 25px;
      }
    }
    .numberof-projects{
      margin-top: 50px;
      .num{
        font-size: 45px;
        font-weight: bold;
        color: #00BCA9;
      }
    }
  }
}
.heading{
  .small-head{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: bold;
    color: #00BCA9;
    margin-bottom: 5px;
  }
  h2{
    font-size: 34px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 45px;
  }
  p{
    font-size: 15px;
    color: gray;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 3em;
  }
}
#projects{
  padding: 100px 0;

  .project-cards{
    margin-top: 70px;

    .card{
      border: none;
      border-radius: 5px;
      transition: .3s;
      &:hover{
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
      }
      .card-body{
        text-align: center;
        position: relative;
        .tag{
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translateX(-50%);
          margin-bottom: 50px;
          p{
            background: #00BCA9;
            color: white;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 20px;
            font-size: 15px;
          }
        }
        h2{
          a{
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: #1d1d1d;
          }
        }
        p{
          font-size: 15px;
        }
      }
    }
  }
}

#services{
  padding: 80px 0;
  .services-info{
    margin-top: 60px;
    .nav{
      li{
        margin-bottom: 10px;
        .nav-link{
          border: none;
          border-radius: 0;
          padding: 20px 28px;
          color: black;
          font-weight: bold;
          text-transform: capitalize;
          font-size: 18px;
          display: flex;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.1);
          &.active{
            background: #00BCA9;
            color: white;
            border: 1px solid #00BCA9;
            i{
              font-size: 28px;
              color: white;
            }
          }
          i{
            font-size: 28px;
            color: #00BCA9;
            margin-right: 5px;
          }
        }
      }
    }
    .tab-content{
      .tab-pane{
        img{
          max-height: 400px;
          width: 100%;
          object-fit: cover;
          object-position: center;
          margin-bottom: 20px;
        }
        h2{
          font-size: 24px;
          font-weight: bold;
          text-transform: capitalize;
        }
        p{
          font-size: 15px;
          color: gray;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

.down-banner{
  background: url(images/bg_1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .jumbotron-banner{
    padding: 4em 0;
    background: linear-gradient(45deg, #48a7f0c4 0%, #00bdaabe 100%);
    border-radius: 0;
    color: white;
    text-align: center;
    text-transform: capitalize;
    h2{
      margin-bottom: 0;
    }
  }
}


#testimonials{
  padding: 80px 50px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  .test-container{
    margin-top: 100px;
    .card{
      border: none;
      border-radius: 0;
    }
    .test-box{
      display: flex;
      padding: 30px 20px;
      background: #FAFAFA;
      color: #878787;
      img{
        width: 80px;
        height: 80px;
        margin-right: 20px;
        border-radius: 50%;
      }
      .client-says{
        position: relative;
        span{
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          top: -50px;
          i{
            font-size: 38px;
            color: #00BCA9;
          }
        }
        p{
          font-size: 15px;
          margin-bottom: 15px;
          letter-spacing: 0.3px;
        }
        h3{
          color: #2E2E2E;
          font-size: 18px;
        }
        .occupation{
          margin-bottom: 0;
          color: #00BCA9;
        }
      }
    }
  }
  .owl-carousel .owl-stage-outer{
    padding: 40px 0;
  }
  .owl-theme .owl-dots{
    .owl-dot{
      span{
        background: #CCCCCC;
      }
      &:focus{
        outline: none;
      }
      
    }
    .active span{
      background: #00BDAA;
    }
  }
}

#blogs{
  padding: 100px 0;
  .card{
    border: 3px solid #BDFFF8;
    border-radius: 0;
    img{
      border-radius: 0;
      position: relative;
    }
    .card-body{
      position: relative;
      padding: 30px 20px;
      .meta{
        padding: 10px 5px;
        background: #00BDAA;
        color: white;
        position: absolute;
        left: 0;
        bottom: 100%;
        span{
          display: block;
          text-align: center;
          font-size: 14px;
        }
        .date{
          font-size: 18px;
          font-weight: bold;
        }
      }
      h2{
        font-size: 20px;
          font-weight: bold;
          text-transform: capitalize;
          margin-bottom: 20px;
        a{
          text-decoration: none;
          color: rgba(0, 0, 0, 0.829);
          transition: .3s;
          line-height: 1.4em;
          &:hover{
            color: #00BDAA;
          }
        }
        
      }
      p{
        color: #878787;
        font-size: 15px;
        margin-bottom: 25px;
      }
      .meta-bottom{
        display: flex;
        justify-content: space-between;
        .btn{
          padding: 5px 20px;
          background: #00BCA9;
          color: white;
          transition: .3s;
          border: 1px solid #00BCA9;
          border-radius: 30px;
          font-size: 14px;
          &:hover{
            background: transparent;
            color: #00BCA9;
          }
        }
        .author-commnts{
          a{
            text-decoration: none;
            font-size: 15px;
            margin-left: 5px;
          }
          .author{
            color: #00BCA9;
          }
          .comments{
            color: #878787;
          }
        }
      }
    }
  }
}
footer{
  background: rgb(0, 0, 0);
  #footer{
    padding: 100px 0 70px 0;
    background: rgb(0, 0, 0);
    border-bottom: 1px dashed #CCCCCC;
    h3{
      font-size: 22px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 20px;
    }
    .about-site{
        .navbar-brand{
          font-size: 35px;
          text-decoration: none;
          font-weight: bold;
          color: #00BCA9;
          text-transform: uppercase;
          margin-bottom: 10px;
          margin-top: 0;
          padding-top: 0;
          p{
            font-size: 14px;
            color: rgb(255, 255, 255);
            padding: 0;
            margin-top: -10px;
            margin-left: 45px;
          }
        }
        p{
          color: #878787;
          font-size: 14px;
        }
    }
    .contact-details{
      ul{
        li{
          list-style: none;
          margin-bottom: 15px;
          padding-bottom: 10px;
          border-bottom: 1px dashed #CCCCCC;
          a{
            display: block;
            text-decoration: none;
            color: #878787;
            transition: .3s;
            &:hover{
              color: white;
            }
          }
          p{
            color: #878787;
            font-size: 14px;
          }
        }
      }
    }
    .newsletter{
      p{
        color: #878787;
        font-size: 14px;
        margin-bottom: 40px;
      }
      input{
        padding: 25px 10px;
        border: none;
        border-radius: 0;
        &:focus{
          outline: none;
          box-shadow: none;
        }
      }
      button{
        box-sizing: content-box;
        padding: 0px 10px;
        border: none;
        border-radius: 0;
      }
    }
    .social{
      ul{
        li{
          list-style: none;
          margin-bottom: 15px;
          padding-bottom: 10px;
          border-bottom: 1px dashed #CCCCCC;
          a{
            text-decoration: none;
            color: #878787;
            transition: .3s;
            display: block;
            i{
              font-size: 16px;
              width: 30px;
              border-right: 1px dashed #CCCCCC;
              margin-top: 3px;
            }
            span{
              text-transform: capitalize;
              margin-left: 15px;
            }
            &:hover{
              color: white;
            }
          }
        }
      }
    }
  }
  #copyright{
    p{
      color: #878787;
    }
  }
}


.go-top-after{
  position: fixed;
  right: 20px;
  bottom: 30px;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: both;
  a{
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background: #00BDAA;
    z-index: 200;
    box-shadow: 0 1px 15px rgba(0,0,0,.2);
  }
}

@keyframes top{
  0%{
    transform: translateX(200px);
  }
  100%{
    transform: translateX(0px);
  }
}





@media screen and (max-width:768px){
  #request-form{
    position: unset;
    .whole-wrapper{
      margin-bottom: 200px;
      position: unset;
      width: 100%;
      margin: 0 auto;
      transform: translateX(0);
    }
  }
}